:root{
   --bg-color: black;
   --text-color-contrast: white;
}

body{
   background-color: gainsboro;
}

a{
   text-decoration: none;
   color: white;
   font-weight: bold;
}

a:hover{
   color: gold;
}

h1,h2,h3,h4{
color: gold;
}

h2{
   text-align: center;
}
 
p{
   color:var(--text-color-contrast);
   margin: 0px;
}

.row{
   padding: 20px;
}

#navbar, #welcome, #content-countries, #quote, #list{
   background-color: var(--bg-color);
}

#welcome-info, #slider{
   justify-self: center;
   align-self: center;
   padding: 20px;
}

.cards{
   justify-self: center;
   align-self: center;
}

#quote{
   margin: 0px;
}


